<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csse_android_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EnquiryHandlingProcess3"></activity>
        <activity android:name=".EnquiryHandlingProcess2" />
        <activity android:name=".EnquiryHandlingProcess1" />
        <activity android:name=".PurchasingProcess3" />
        <activity android:name=".PurchasingProcess1" />
        <activity android:name=".DeliveryProcess6" />
        <activity android:name=".DeliveryProcess5" />
        <activity android:name=".DeliveryProcess4" />
        <activity android:name=".DeliveryProcess2" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>